.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
}
.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.food-item-category {
    color: hsl(12, 20%, 44%);
    font-size: 12px;
}
.food-item-name {
    color: hsl(14, 65%, 9%);
    font-size: 16px;
    font-weight: 500;
}
.food-item-price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}


.food-item-img-container {
    position: relative;
}
.food-item-img-container .add,
.food-item-img-container .food-item-counter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px 16px;
    border-radius: 30px;
}


.food-item-img-container .add {
    gap: 10px;
    background: white;
    border: 1px solid hsl(7, 20%, 60%);
    cursor: pointer;

}
.food-item-img-container .add p {
    font-size: 12px;
    font-weight: 600;
}
.food-item-img-container .add img {
    width: 17px;
}

.food-item-img-container .food-item-counter {
    background-color: hsl(14, 86%, 42%);
    gap: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.food-item-img-container .food-item-counter img {
    width: 15px;
    height: 15px;
    border: 1px solid white !important;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}
.food-item-img-container .food-item-counter p {
    color: white;
    font-size: 12px;
    font-weight: 600;
}